@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #5FA8D3;
  --secondary-color: #422C22;
  --text-dark: #422C22; 
  --text-light: #AA8B7E; 
  --extra-light: #E3F2FD; 
  --white: #FBFBF2;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__subheader {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary-color);
  text-align: center;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--secondary-color);
  text-align: center;
}

.btn {
  padding: 0.625rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 5rem;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  color: var(--secondary-color);
  background-color: transparent;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 0.75rem 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo a {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--primary-color);
  transition: transform 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(100%);
}

.nav__links a {
  font-weight: 600;
  color: var(--white);
}

.nav__btns {
  display: none;
}

header {
  background-color: var(--extra-light);
}

.header__container {
  padding-block: 5rem 0;
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.header__image img {
  max-width: 350px;
  margin-inline: auto;
  margin-top: 2rem;
}

.header__content h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-color);
  text-align: center;
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 800;
  color: var(--secondary-color);
  line-height: 5rem;
  text-align: center;
}

.header__content h3 {
  margin-bottom: 1rem;
  font-display: 1.25rem;
  font-weight: 600;
  color: var(--secondary-color);
  text-align: center;
}

.header__content p {
  margin-bottom: 2rem;
  color: var(--text-light);
  text-align: center;
  line-height: 1.75rem;
}

.header__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header__btns .btn:nth-child(2) {
  color: var(--secondary-color);
  background-color: transparent;
}

.intro__container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.intro__image {
  position: relative;
  isolation: isolate;
  max-width: 350px;
  margin-inline: auto;
  padding: 4px;
  overflow: hidden;
}

.intro__image::before {
  position: absolute;
  content: "";
  height: 200%;
  width: 10rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-35deg);
  transform-origin: center center;
  background-color: var(--primary-color);
  z-index: -1;
}

.intro__image img {
  background-color: var(--white);
}

.intro__content :is(.section__subheader, .section__header) {
  text-align: left;
}

.intro__description {
  margin-block: 1rem 2rem;
  color: var(--text-light);
  line-height: 1.75rem;
}

.intro__grid {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  gap: 0.5rem 1rem;
}

.intro__grid h5 {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-dark);
}

.intro__grid h5 span {
  font-size: 1.2rem;
  color: var(--primary-color);
}

.intro__grid > span {
  color: var(--text-dark);
}

.intro__grid p {
  color: var(--text-light);
}

.intro__content h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.intro__flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem 2rem;
  flex-wrap: wrap;
}

.intro__flex div {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: var(--secondary-color);
}

.intro__flex span {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.choose {
  background-color: var(--extra-light);
}

.choose__container{
    background-color: #DCEFFA;
}

.choose__grid{
    max-width: 900px;
    margin-inline: auto;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.choose__card div {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.choose__card h4 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.skill__header{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;
    margin-bottom: 10px;
}

.skill__title{
    display:flex;
    align-items:center;
    gap:12px;
}

.skill__title img{
    width:30px;
    height:30px;
    object-fit:contain;
}
.skill__title i{
    font-size: 30px;
    color: var(--primary-color);
}

.choose__progress {
  position: relative;
  isolation: isolate;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  overflow: hidden;
}

.choose__progress::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--primary-color);
  animation: progress-fill 2s forwards;
}

@keyframes progress-fill {
  0% {
    width: 0;
  }
  100% {
    width: var(--progress);
  }
}

.journey__grid {
  width: 100%;
  max-width: 1100px;
  margin: 4rem auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem 4rem;
  align-items: start;
}

.journey__grid > div {
  display: grid;
  gap: 1rem;
}

.journey__grid__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.journey__card {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.journey__logo {
  width: 45px;
  height: auto;
  display:flex;
  align-items:center;
  justify-content:center;
}

.journey__logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.journey__content {
  flex: 1;
}

.journey__card > span {
  position: relative;
  isolation: isolate;
  padding-inline: 2px;
  height: 100%;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.journey__card > span::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
}

.journey__card h4 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-dark);
}

.journey__card h5 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.journey__card p {
  color: var(--text-light);
}

.documentation{
    background-color: var(--extra-light);
}

.documentation__nav{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:1rem;
    margin:2rem 0 3rem;
}

.documentation__nav .btn {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--secondary-color);
  background-color: transparent;
  border: none;
}

.documentation__nav .btn.mixitup-control-active {
  color: var(--primary-color);
}

.documentation__grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap: 1rem;
}

.documentation__card{
    position:relative;
    overflow:hidden;
    border-radius:15px;
    cursor:pointer;
}

.documentation__card img{
    width:100%;
    aspect-ratio: 3 / 2;
    object-fit:cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition:.4s;
}

.documentation__overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.45);
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    transition:.4s;
}

.documentation__overlay h4{
    color:white;
    font-size:1.2rem;
}

.documentation__card:hover img{
    transform:scale(1.08);
}

.documentation__card:hover .documentation__overlay{
    opacity:1;
}

.gallery__popup{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.85);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.gallery__popup.active{
    display:flex;
}

.gallery__popup img{
    width: auto;
    height: auto;
    max-width: 90vw;
    max-height: 85vh;
    object-fit: contain;
    border-radius: 10px;
}

#galleryVideo{
    display:none;
    width:auto;
    height:auto;
    max-width:90vw;
    max-height:85vh;
    object-fit:contain;
    border-radius:10px;
    background:#000;
}

.gallery__close{
    position:absolute;
    top:30px;
    right:40px;
    color:var(--extra-light);
    font-size:45px;
    cursor:pointer;
}

.gallery__prev,
.gallery__next{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:45px;
    color:var(--extra-light);
    border:none;
    background:none;
    cursor:pointer;
}

.gallery__prev{
    left:40px;
}

.gallery__next{
    right:40px;
}

.project__grid {
  margin-top: 4rem;
  display: grid;
  gap: 4rem 1rem;
}

.project__card {
  padding: 0 1.5rem 1.5rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top-right-radius: 3rem;
  transition: .3s;
}

.project__card:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: 0 0 20px rgba(0,0,0,.15);
  transform:translateY(-8px);
}

.project__thumb{
  display:flex;
  justify-content:flex-start;
  transform: translateY(-50%);
}

.project__thumb img{
  width:90px;
  height:90px;
  object-fit:cover;
  border-radius:12px;
  border:4px solid var(--white);
  box-shadow:0 8px 18px rgba(0,0,0,.15);
  cursor:pointer;
  transition:.3s;
}

.project__thumb img:hover{
  transform:scale(1.08);
}

.project__card h4{
  margin-top:-20px;
  margin-bottom:.75rem;
  text-align:left;
  font-size:1.2rem;
  font-weight:600;
  color:var(--secondary-color);
  transition:.3s;
}

.project__card p{
  color:var(--text-light);
  line-height:1.75rem;
  text-align:left;
  transition:.3s;
}

.project__card:hover h4,
.project__card:hover p{
  color:var(--white);
}

.contact__container{
  background-color: var(--extra-light);
  padding: 5rem 0;
}

.contact__card{
    width: 100%;
    max-width:420px;
    margin:auto;
    padding:2rem;
    border-radius:25px;
    text-align:center;
    transition:.3s;
    box-sizing: border-box;
}

.contact__card i{
    font-size:55px;
    color:var(--primary-color);
    margin-bottom:20px;
}

.contact__card:hover{
    transform:translateY(-8px);
    background-color: var(--white);
    box-shadow:0 15px 30px rgba(0,0,0,.15);
}

.swiper {
  padding-bottom: 60px;
}

.swiper-slide{
  min-width: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center ;
}

.swiper-pagination {
  position: relative;
  margin-top: 30px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #ccc;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: var(--secondary-color);
}

.footer__container {
  text-align: center;
}

.footer__container h4 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  color: var(--secondary-color);
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.footer__socials a {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.footer__socials a:hover {
  color: var(--primary-color);
}

.footer__bar {
  padding: 1rem;
  font-size: 1rem;
  color: var(--text-light);
  text-align: center;
}

@media (width > 540px) {
  .choose__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .journey__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .project__grid{
    grid-template-columns:repeat(2,1fr);
  }

  .documentation__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact__card{
    padding: 2rem;
  }

  .contact__card i{
    font-size: 3.5rem;
  }
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a {
    font-size: 1.5rem;
    color: var(--secondary-color);
  }

  .nav__logo a span {
    color: var(--primary-color);
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    width: fit-content;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none !important;
  }

  .nav__links a {
    color: var(--secondary-color);
  }

  .nav__links a:hover {
    color: var(--primary-color);
  }

  .nav__btns {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .header__container {
    padding-block: 0;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__content :is(h2, h1, h3, p) {
    text-align: left;
  }

  .header__btns {
    justify-content: flex-start;
  }

  .intro__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .intro__grid {
    gap: 0.5rem 2rem;
  }

  .choose__grid {
    gap: 1rem 4rem;
  }

  .journey__grid {
    gap: 2rem 4rem;
  }

  .documentation__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .project__grid{
    grid-template-columns:repeat(3,1fr);
  }

  .contact__card{
    padding: 2.5rem;
  }

  .contact__card i{
    font-size: 4rem;
  }

  .contact__card h4{
    font-size: 1.3rem;
  }

  .contact__card{
    padding: 3rem;
  }

  .contact__card i{
    font-size: 4.5rem;
  }

}